/*animacion1.css*/
html { overflow:hidden; }
@-webkit-keyframes "mario-camina"{
	100%{
		left:430px;
	}
}
@-webkit-keyframes "mario-camina-post"{
	1%{
		visibility:visible;
	}
	100%{
		left:730px;

	}
}
@-webkit-keyframes "inicio"{
	100%{
			border-radius: 100%;
			-webkit-transform:scale(0);
			width:50%;
			left:25%;
	}
}
@-webkit-keyframes "mario-pies" {
 10% {
    background-position: 0px -54px;
 }
 20% {
    background-position: 0px 0px;
 }
 30% {
    background-position: 0px -53px;
 }
 40% {
    background-position: 0px 0px;
 }
 50% {
    background-position: 0px -54px;
 }
 60% {
    background-position: 0px 0px;
 }
 70% {
    background-position: 0px -53px;
 }
 80% {
    background-position: 0px -0px;
 }
 90% {
    background-position: 0px -53px;
 }
 100% {
    background-position: 0px 0px;
 }
}
@-webkit-keyframes "mario-parado"{
	10%{
		visibility: visible;
	}
	100%{
		visibility: visible;
	}
}
@-webkit-keyframes "mario-cabeza"{
	100%{
		background-position: 0px -210px;
	}
}
@-webkit-keyframes "disparo"{
	100%{
		top:150%;
	}
}
@-webkit-keyframes "Desaparece"
{
	100%{
		visibility:hidden;}
}

#ambiente-mario{
	visibility: visible;
	z-index: 2;
}
#cielo {
	position: absolute;
	background: url(../img/nubes.jpg) 0 -50px repeat;
	width: 900%;
	height: 360px;
	top: 0;
}

#piso{
	position: absolute;
	background: url(../img/piso.jpg) repeat;
	top:360px;
	width: 100%;
	height: 100%;
}
#mario-bros-camina
{
	z-index: 3;
	position: absolute;
	top:308px;
	left: -200px;
	width: 46px;
	-webkit-animation: 5s mario-camina linear;
	-webkit-animation-delay:1s;
}
#mario-bros-pies
{

	background-image: url(../img/mario.png);
	background-position: 0px 0px;
	height: 54px;
	width: 46px;
	-webkit-animation:2s mario-pies steps(1) infinite;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-delay:1s;
}
#mario-bros-parado{
	z-index: 3;
	visibility: hidden;
	position: absolute;
	top:308px;
	height: 54px;
	width: 46px;
	left: 430px;
	-webkit-animation:3s mario-parado;
	-webkit-animation-delay:6s;
}
#mario-bros-cabeza{
	background-image: url(../img/mario.png);
	background-position: 0px 0px;
	height: 54px;
	width: 46px;
	-webkit-animation:0.1s mario-cabeza steps(1);
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-delay:7s;
}
#mario-disparo{
	z-index: 4;
	position: absolute;
	height: 150px;
	width: 150px;
	top:-200px;
	left:385px;
	-webkit-animation:5s disparo;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-delay:9s;
}
#disparo{
	background-image: url(../img/bala.png);
	height: 150px;
	width: 150px;
	-webkit-transform:scale(2) rotate(270deg);
}
#capanegra{
	z-index: 100;
	position:absolute;
	height:100%;
	width:100%;
	visibility:visible;
	background-color: #000;
	border-radius: 0%;
	-webkit-transform:scale(2);
	-webkit-animation:5s inicio;
	-webkit-animation-fill-mode:forwards;
}
#mario-bros-camina-post
{
	visibility:hidden;
	z-index: 3;
	position: absolute;
	top:308px;
	left: -200px;
	width: 46px;
	left: 430px;
	-webkit-animation: 3s mario-camina-post linear;
	-webkit-animation-delay:9s;
}
#mario-bros-pies2
{

	background-image: url(../img/mario.png);
	background-position: 0px 0px;
	height: 54px;
	width: 46px;
	-webkit-animation:2s mario-pies steps(1) infinite;
	-webkit-animation-iteration-count: 3;
	-webkit-animation-fill-mode:forwards;
	-webkit-animation-delay:9s;
}